
body {
	background: #404146;
	color: #eeeeee;
	font-family: sans-serif;
}
textarea {
	background: #202224;
	color: #eeeeee;
	font-family: Consolas, "Envy Code R", monospace;
	font-size: 18px;
}
.regs {
	font-family: Consolas, "Envy Code R", monospace;
	font-size: 18px;
}
.regs span {
	padding-right: 8px;
}
.memv {
	user-select: none;
}
.memv.addr {
	position: absolute;
	display: flex;
	flex-direction: column;
}
.memv.data {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 8ch;
}
.memv.text {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 58ch;
}
.memv > div {
	height: 22px;
}
.fixed {
	white-space: pre-wrap;
	font-family: Consolas, "Envy Code R", monospace;
	font-size: 18px;
}
.vidtext {
	font-family: Consolas, "Envy Code R", monospace;
	font-size: 12px;
	color: #eeeeee;
}
.pstr {
	color: #eeaa33;
}
.zstr {
	color: #ee4411;
}
.cmm {
	color: #23ca23;
}
.sym {
	color: #ffee44;
	margin-left: 1em;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2px;
	border-left: 2px solid #77e;
	border-top: 2px solid #77e;
}
.mcrec {
	background: repeating-linear-gradient(90deg,#2f3,#270 20px,transparent 30px,transparent);
}
.mcrec.stk {
	background: repeating-linear-gradient(90deg,#f73,#a30 20px,transparent 30px,transparent);
}
.asmc {
	white-space: pre-wrap;
	font-family: Consolas, "Envy Code R", monospace;
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 25ch;
	width: 4ch;
}
.asmc div {
	box-sizing: border-box;
}
.asmc > div {
	height: 21px;
}
.asm {
	white-space: pre-wrap;
	font-family: Consolas, "Envy Code R", monospace;
	font-size: 16px;
}
.asm div {
	box-sizing: border-box;
}
.line {
	height: 21px;
	display: flex;
	align-items: flex-end;
}
.line.brk {
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #e72;
	background-color: #743;
}
.line > div:nth-child(2) {
	width: 20ch;
}
.line > div:nth-child(3) {
	margin-left: 3ch;
}
.conv-sel {
	border: 2px solid #77e;
	padding: 2px 16px 2px 10px;
	font-size: 20px;
}
input.conv-sel {
	background: #aaaaaa;
}
input.conv-sel:focus {
	border-color: #7af;
	box-shadow: 0px 0px 3px 1px #eeeeee;
}
.conv-sel input[type=radio] {
	margin-top: 6px;
	width: 18px;
	height: 18px;
}
.conv-sel input[type=checkbox] {
	margin-top: 6px;
	width: 18px;
	height: 18px;
}
button {
	font-size: 20px;
	padding: 4px 14px 4px 14px;
	border: solid 2px #469fdb;
	background: #046e88;
}
button:hover {
	border: solid 2px #74b7dd;
	background: #008fa8;
}
button:hover:active {
	border: solid 2px #a6d5f0;
	background: #6ce3f8;
}
button.active {
	background: #ece388;
	border-color: #f4c455;
}
.popwin {
	position: fixed;
	display: flex;
	border: solid 2px #666666;
	background: #404146;
	box-shadow: 3px 3px 3px 3px #000;
	margin: 10px 10px 10px 10px;
	z-index: 1;
}
.winfrm {
	width: 20px;
	background: linear-gradient(#046e88, #023c4b);
	border-right: #888 2px groove;
	user-select: none;
	cursor: all-scroll;
}
.winfrm > div:first-child {
	color: #ddd;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 0;
	/* writing-mode: sideways-rl; */
	transform-origin: 0 100%;
	transform: rotate(90deg) translateX(-1em);
	/* padding-top: 20px; */
}
.filter {
	filter: blur(1.7px);
}
